<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../static/SignUpPagecss/New/fonts/icomoon/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">


    <link rel="stylesheet" href="../static/SignUpPagecss/New/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/SignUpPagecss/New/css/bootstrap.min.css">
    
    <!-- Style -->
    <link rel="stylesheet" href="../static/SignUpPagecss/New/css/style.css">

    <title>SignUp</title>
  </head>
  <body>
  <div class="d-lg-flex half" style="height: 200vh;">
    <div class="bg order-1 order-md-2" style="background-image: url('../static/Background/Login.jpg');"></div>
    <div class="contents order-2 order-md-1">

      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-7">
            <br>
            <h3>SignUp to <strong>TheGreatEnergy</strong></h3>
            <form action="/SignUp" method="post">
              {{ form.hidden_tag() }}
              <div class="form-group first">
                <label for="username">Name</label>
                {{ form.name(class="form-control" ,id="username") }}
              </div>
              <div class="form-group first">
                <label for="username">Username</label>
                {{ form.username(class="form-control" ,id="username") }}
              </div>
              <div class="form-group last mb-3">
                <label for="password">Password</label>
                {{ form.password_hash(class="form-control",id="password") }}
              </div>
              <div class="form-group last mb-3">
                <label for="password">Confirm Password</label>
                {{ form.password_hash2(class="form-control",id="password") }}
              </div>
              <div class="form-group first">
                <label for="username">Email</label>
                {{ form.email(class="form-control" ,id="username") }}
              </div>
              <div class="form-group first">
                <label for="username">City</label>
                {{ form.city(class="form-control" ,id="username") }}
              </div>
              <div class="form-group first">
                <label for="username">Contact No</label>
                {{ form.contact(class="form-control" ,id="username") }}
              </div>
              <div class="form-group first">
                <label for="username">Address</label>
                {{ form.address(class="form-control" ,id="username") }}
              </div>
              <div class="form-group first">
                <label for="username">Zipcode</label>
                {{ form.zipcode(class="form-control" ,id="username") }}
              </div>
              
              <div class="d-flex mb-5 align-items-center">
                <span class="ml-auto"><a href="/SignUp" class="forgot-pass">New User Register Here</a></span> 
              </div>
              {{ form.submit(class="btn btn-block btn-primary") }}

            </form>
          </div>
        </div>
      </div>
    </div>

    
  </div>
    
    
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="../static/SignUpPagecss/New/js/jquery-3.3.1.min.js"></script>
    <script src="../static/SignUpPagecss/New/js/popper.min.js"></script>
    <script src="../static/SignUpPagecss/New/js/bootstrap.min.js"></script>
    <script src="../static/SignUpPagecss/New/js/main.js"></script>
  </body>
</html>