<!doctype html>
<html lang="en">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='SignUpPagecss/Style.css')}}">
    <title>SignUp</title>
  </head>

  <body>
    <div class="page-wrapper bg-dark p-t-100 p-b-50">
        <div class="wrapper wrapper--w900">
            <div class="card card-6">
                <div class="card-heading">
                    <h2 class="title">SignUp</h2>
                    {% for message in get_flashed_messages() %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                      {{ message }}
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %}
                </div>
                <div class="card-body">
                    <form action="/Login" method="post">
						          {{ form.hidden_tag() }}
                        <div class="form-row">
                            <div class="name">Username</div>
                            <div class="value">
                              {{ form.username(class="form-control",id="username") }}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Password</div>
                            <div class="value">
                                <div class="input-group">
                                  {{ form.password(class="form-control",id="password") }}
                                </div>
                            </div>
                        </div>
                        <div class="d-flex mb-5 align-items-center">
                          <span class="ml-auto"><a href="/SignUp" class="forgot-pass">Don't have an account SignUp</a></span> 
                        </div>
                        <div class="card-footer">
                          {{ form.submit(class="btn btn--radius-2 btn--blue-2") }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</body>
</html>
